;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue May 28 01:21:30 2013
;; Desktop file format version 206
;; Emacs version 24.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring '("projectile"))
(setq register-alist nil)
(setq file-name-history '("/Users/simon/.slate" "/Users/simon/.emacs.d/init.el" "~/.recentf" "~/src/django-hunger/hunger/middleware.py" "~/src/django-hunger/hunger/urls.py" "~/src/django-hunger/docs/quickstart.rst" "~/src/django-hunger/hunger/views.py" "~/src/django-hunger/hunger/utils.py" "~/src/django-hunger/hunger/forms.py" "~/.homesick/repos/yesimon/dotfiles/home/.bashrc" "~/src/rosalind/clojure/rosalind/src/rosalind/DNA.clj" "~/src/clojure-koans-yesimon/src/koans/07_conditionals.clj" "~/src/clojure-koans-yesimon/src/koans/06_functions.clj" "~/src/clojure-koans-yesimon/src/koans/05_maps.clj" "~/src/clojure-koans-yesimon/src/koans/04_sets.clj" "~/src/clojure-koans-yesimon/src/koans/02_lists.clj" "~/src/rosalind/clojure/rosalind/src/rosalind/core.clj" "~/src/rosalind/clojure/rosalind/project.clj" "~/src/rosalind/.gitignore" "~/src/rosalind/DNA.java" "/Applications/Emacs.app/Contents/Resources/etc/HELLO" "~/src/rosalind/DNA.js"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/simon/.homesick/repos/yesimon/dotfiles/home/.emacs.d/init.el"
  "init.el"
  'emacs-lisp-mode
  '(auto-fill-mode projectile-mode helm-mode global-auto-revert-mode paredit-mode eldoc-mode elisp-slime-nav-mode hi-lock-mode)
  1472
  '(1424 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (column-number-mode . t)))

(desktop-create-buffer 206
  "/Users/simon/.homesick/repos/yesimon/dotfiles/home/.slate"
  ".slate"
  'fundamental-mode
  '(projectile-mode helm-mode global-auto-revert-mode)
  102
  '(102 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/simon/src/django-hunger/hunger/models.py"
  "models.py"
  'python-mode
  '(auto-fill-mode projectile-mode helm-mode flymake-mode global-auto-revert-mode hi-lock-mode)
  372
  '(2099 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix) (column-number-mode . t)))

(desktop-create-buffer 206
  "/Users/simon/src/django-hunger/hunger/urls.py"
  "urls.py"
  'python-mode
  '(auto-fill-mode projectile-mode helm-mode flymake-mode global-auto-revert-mode hi-lock-mode)
  191
  '(164 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix) (column-number-mode . t)))

